<% include ../partials/header %>
<div class="row">
  <div class="col-md-3">
    <p class = "lead">YelpCamp</p>
    <li class="list-group-item active">Info 1</li>
    <li class="list-group-item">Info 2</li>
    <li class="list-group-item">Info 3</li>
  </div>

  <div class="col-md-9">
    <div class="thumbnail">
      <img class = "img-responsive" src="<%=site.image%>" alt="">
      <div class="caption-full">
        <h4 class="pull-right">$9.00/night</h4>
        <h2><a href="#"><%=site.name%></a></h2>
        <p><em>Submitted By: <%= site.author.username %></em></p>
        <a class = "btn btn-warning" href="/campgrounds/<%= site._id %>/edit">Edit</a>
        <form id = "delete-form" action="/campgrounds/<%=site._id%>?_method=delete" method="post">
          <button class="btn btn-danger">Delete</button>
        </form>
        <p><%= site.description %></p>
      </div>
    </div>
    <div class="well">
      <div class="text-right">
        <a class="btn btn-success" href="/campgrounds/<%=site._id%>/comments/new">New Comment</a>
      </div>
      <hr>
      <% site.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            <span class="pull-right">10 days ago</span>
            <p>
              <%= comment.text %>
            </p>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>



<% include ../partials/footer %>
